@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grotesk';
    src: url('/static/fonts/Grotesk-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotic';
    src: url('/static/fonts/Gotic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'bpdotscondensedsquare';
    font-style:normal;
    font-weight:400;
    src:local('BPdotsCondensedSquare'),local('BPdotsCondensedSquare-Regular'), url(https://res.cloudinary.com/hzisufglx/raw/upload/v1644065369/B_Pdots_Condensed_Square_e2f70f86b5.ttf) format('truetype')}

 
@font-face{
    font-family:'bpdotscondensed';
    font-style:normal;
    font-weight:400;
    src:local('BPdotsCondensed'),local('BPdotsCondensed-Regular'),url(https://res.cloudinary.com/hzisufglx/raw/upload/v1626072589/B_Pdots_Condensed_619d51fb3c.ttf) format('truetype')}

 
@font-face{
    font-family:'bpdotsCondenseddiamond';
    font-style:normal;
    font-weight:400;
    src:local('BPdotsCondensedDiamond'),local('BPdotsCondensedDiamond-Regular'),url(https://res.cloudinary.com/hzisufglx/raw/upload/v1626072237/B_Pdots_Condensed_Diamond_2f853c24bf.ttf) format('truetype')}


