@import './shared/fonts';
@import './shared/colors';
//PAGES
@import './index';
@import "./portfolios";
//COMPONENTS
@import './header';

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica';
  }

  .self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
  }

  .absolute {
    position: absolute;
  }

  .error {
    font-weight: bold;
    color: red
  }

  .base-page {
    //padding: 150px 0 100px 0;
    color: black;
    background-color: #ecedee;
   // min-height: 100vh;
    .page-header {
      .page-header-title {
        font-weight: 700;
        color: black;
        display: inline-block;
       // margin-bottom: 20px;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }

  .simulacro-page {

    .flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .row1 {
      background-color: red;
      flex-basis: 50%;
    }

    .row2 {
      background-color: yellow;
      flex-basis: 50%;
    }
  }
