@import './shared/fonts';
@import './shared/colors';
//PAGES
@import './index';
@import "./portfolios";
//COMPONENTS
@import './header';

html, body {
    height:100%;
    width:100%;
    font-family: 'Grotesk', 'Helvetica';
  }

  .self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
  }

  .absolute {
    position: absolute;
  }

  .error {
    font-weight: bold;
    color: red
  }

  // .base-page {
  //   //padding: 150px 0 100px 0;
  //   color: black;
  //   background-color: white;
  //  //min-height: 100vh;
  //   .page-header {
  //     .page-header-title {
  //       font-weight: 700;
  //       color: black;
  //       display: inline-block;
  //      margin-bottom: 20px;
  //     }
  //   }
  // }

  .clickable {
    cursor: pointer;
  }

  .simulacro-page {
    .col-4 {
      -moz-hyphens:auto;
      -ms-hyphens:auto;
      -webkit-hyphens:auto;
      hyphens:auto;
      word-wrap:break-word;
   }
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}
        /* The heart of the matter */
    .testimonial-group > .row {
      overflow-x: scroll;
      //height: 50vh;
      width: 100%;

    }
    .testimonial-group > .row > .col-4 {
      display: inline-block;
      float: none;
    }


    /* Decorations */
    .col-4 {
      height: 100%;
      color: #fff;
      //font-size: 48px;
    //  padding-bottom: 20px;
     // padding-top: 18px;
    //white-space: pre-line;
     //overflow-y: hidden;
     text-align: justify; }
    .col-4:nth-child(3n+1) { background: rgb(255, 255, 255); }
    .col-4:nth-child(3n+2) { background: rgb(255, 255, 255); }
    .col-4:nth-child(3n+3) { background: rgb(255, 255, 255); }

    .title-lang {
      color: #3300ff;
      text-shadow: 5px 5px 0px #000000;
      font-size: 15em;
      text-align: justify;
      margin-top: 1vw;

    }

    .text-content {
      color: #000000;
      font-size: 1em;
      text-align: justify;
      margin-top: 1vw;

    }
  }
