@media (max-width: 480px) {
  .header-container {
    .header-anchor a {
      font-size: 16vh !important;
      height: 16vh !important;
    }
  }
  .black-square {
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 9.33vh;
  }
}
