@media (max-width: 1280px) {
  .header-container {
    .header-anchor a {
      font-size: 30vh;
      height: 31vh;
    }
  }
  .default-row {
    height: 31vh;
  }
  // .row-pics-container {
  //   height: 31vh;
  // }
}
@media (max-width: 480px) {
  .header-container {
    .header-anchor a {
      font-size: 18vh !important;
      height: 18vh !important;
    }
  }
  .default-row-text {
    min-width: 100vw;
    max-width: 100vw;
  }
 

  .black-square {
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 5.33vw;
  }
  .big-row {
    height: 36vh !important;
  }

  .small-row {
    height: 36vh !important;
  }
  .default-row {
    height: 36vh;
   
  }
  .row-pics-container {
    height: 36vh;
    
  }
  .big-row-fc-txt {

    //width: 100vw;
   
    h2 {
      font-size: inherit;
    }
    p {
      font-size: inherit;
    
    
    }

    .first-container-txt-section {
      height: auto;
      flex-direction: column;
      min-width: 100vw;
    }
  }

  .data-row-txt {
    .row-slide-wrapper {
      justify-content: inherit;
      padding-left: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
      height: fit-content;

      
     
    }
    
    .row {
      //padding-bottom: 1.7rem;
      height: fit-content;
      a {
        background-color: transparent !important;
        box-shadow: none !important;
      }
    }
  
    //-------FIRST CONTAINER --------//
  
    .first-row {
      padding-top: 0rem;
    }
  
    .first-container {
     
      min-width: 90vw;
      
      margin-right: 2rem;
    }
  
    
  
    .first-container-txt-section {
      height: auto;
      flex-direction: column;
      min-width: 90vw;
     
      
    }
  
    .first-container p {
      text-align: right;
      
      margin-top: 4vh;
      font-size: 1.1rem;
      font-weight: 500;
      width: 90vw;

      
    }
  
    //------------------------//
  
    .second-container {
      width: 66vw;
      min-width: 50rem;
      height: auto;
      column-count: 2;
      column-gap: 2rem;
      column-fill: auto;
      width: 90vw;
      
    }
    
  
    .big-row-fc-txt {
      // width: 66vw;
      h2 {
        padding-left: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
        line-height: rem;
        
        margin-top: 3vh;
      }
      p {
        font-size: 1rem;
      }
      min-width: 100vw;
      
    }
  
    .small-row-fc-txt {
      h2 {
        font-size: 0vh;
        background-color: black;
        color: white;
        //line-height: 11vh;
        padding-top: 1.2vh;
        padding-right: 1vh;
      }
      p {
        //font-size: 0;
       // line-height: 0rem;
        display: none;
        
      }
      min-width: 100vw;
      
    }
  
    p {
      font-family: "Barlow", sans-serif;
      font-size: 1rem;
      line-height: 1.1;
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: 500;
      ;
      
    }
  
    h2 {
      font-family: "BPdotsCondensedSquare", monospace;
      font-size: calc(0.5rem + 5vh);
      line-height: 5.5vh;
      letter-spacing: 0em;
      padding-top: 0.2rem;
      text-align: right;
      overflow-wrap: break-word;
    }
  
    h3 {
      font-size: 2.5vh;
      font-weight: bold;
      
    }
  
    .h3-col-span-2 {
      break-before: column;
    }
  
    .language-black-block {
      font-family: "BPdotsCondensedSquare", monospace;
      font-size: 13vh;
      margin-right: 1rem;
      margin-bottom: 0;
      cursor: pointer;
      float: left;
      color: white;
      background-color: black;
      line-height: 17vh;
      height: 14vh;
      padding: 0 1vh !important;
      box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }
  .row-element-info-text {
    p {
      font-size: 0.8vh !important;
    }
    h3 {
      font-size: 1.5vh !important;
    }
    .link-default {
      font-size: 1.5vh !important;
    }
  }
  .big-row .row-element-info-text {
    min-width: 27vh !important;
  }
  .small-row .row-element-info-text {
    min-width: 27vh !important;
  }
  .big-row .row-element-info-text h3 {
    margin-bottom: 0.5rem;
  }
  .row-element-info-text {
    min-width: 100vh ;

  }
  // Music section styles
.bandcamp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vw !important;
  
  
  div {
    
    padding-right: 0;
   
  }
  .bandcamp-pic {
    height: 95vw;
    padding-left: 2.3vh;
    width: auto;
    
  }
  .album-title h3 {
    font-size: 1.8vh;
    font-family: Barlow;
    font-weight: 700;
    padding-left: 1.3vh;
    min-width: 60vw;
    padding-left: 3vh;
    
  }
  .playlist p,
  .extra-info p {
    font-size: 1.8vh;
    font-family: Barlow;
    padding-left: 1.3vh;
    min-width: 80vw;
    padding-top: 2vw;
    padding-left: 3vh;

  }
  .player {
    height: 2.63rem;
    padding-left: 1.3vh;
    
  }
  .player iframe {
    height: 2.6rem !important;
    padding-left: 3vh;
    
   

    padding-right: 6vh;
  }
  .youtube-link {
    //margin: 0.3rem;
    height:  fit-content!important;
    width: fit-content !important;
    
  }
  .first_class_square {
    background-color: black !important;
    height: 100%;
  
  .row-element-info-text {
    display: flex;
    flex-direction: column;
    font-family: Barlow;
    text-align: left;
    padding: 0 0.3rem;
    min-width: 27vh;
    line-height: 1.3;
    border-color: rgba(0, 0, 0, 0.418);
    h3 {
      font-size: 1.5vh;
      font-weight: 700;
    }
    p {
      font-size: 1.5vh;
      font-weight: 500;
    }
    color: white;
  }
  
  .big-row-container {
    padding: 0;
    position: absolute;
    background: white;
  }
  
  .album-title h3 {
    font-size: 1.4rem;
    font-family: Barlow;
    font-weight: 700;
    padding-left: 1.5vh;
    min-width: 33vw;
    padding-left: 3vh;
    color: white;
  }
  .playlist p,
  .extra-info p {
  
    font-family: Barlow;
    padding-left: 3vh;
    min-width: 18vw;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 2vw;
    color: white;
  }
  
  .big-row-fc-txt {
    // width: 66vw;
    h2 {
      font-size: 6rem;
      line-height: 6rem;
      
      margin-top: 3vh;
    }
    p {
      font-size: 1rem;
    }
     min-width: 33vw;
      max-width: 33vw;
    color: white;
  }
  
  .small-row-fc-txt {
    h2 {
      font-size: 2rem;
      background-color: black;
      color: white;
      line-height: 2rem;
      padding-top: 0.4rem;
      padding-right: 1vh;
    }
    p {
      //font-size: 0;
     // line-height: 0rem;
      display: none;
      
    }
    min-width: 33vw;
    max-width: 33vw;
    color: white;
    
  }
  
  p {
    font-family: "Barlow", sans-serif;
    font-size: 1.4rem;
    line-height: 1.1;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: white;
  }
  
  h2 {
    font-family: "BPdotsCondensed", monospace;
    font-size: calc(0.5rem + 5vh);
    line-height: 5.5vh;
    letter-spacing: 0em;
    padding-top: 0.2rem;
    text-align: right;
    overflow-wrap: break-word;
    color: white;
  }
  
  h3 {
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    
  }
  
  .header-anchor a {
    font-family: "BPdotsCondensed", ui-monospace, monospace;
    color: white;
    font-size: 36vh;
    height: 36vh;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
    //fix for a hidden overflow of inner anchor box shadow
    margin-bottom: 1.6rem;
    overflow: hidden;
    user-select: none;
  
  }
  
  .selected-class {
    color: black !important;
    background-color: white;
    padding: 0rem;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
  
  .black-square {
    cursor: pointer;
    background-color: white;
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 5.33vh;
    position: fixed;
    box-shadow: 10px 10px 20px 0px rgba(194, 194, 194, 0.25);
  }

  
  
  .small-row-text {
    p {
      font-size: 0.3rem;
      width: 11vh;
      line-height: 1.1;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
  }
  
  .black-square :active{
    cursor: pointer;
    background-color: black;
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 5.33vw;
    position: fixed;
    box-shadow: 10px 10px 20px 0px rgba(228, 228, 228, 0.25);
  }
  .row-txt {
    h3 {
      font-size: 3vh;
    }
    p {
      font-size: 2vh;
      white-space: break-spaces;
      min-width: 10rem;
    }
  }
  .row-pics-container.row-txt.big-row p {
    min-width: 20rem;
  }
  
  .big-row-text {
    p {
      font-size: 4rem;
      width: 66vw;
      line-height: 1.1;
      padding-left: 2rem;
      padding-right: 2rem;
      
    }
  }
  
  
  
  
    body {
    background-color: black !important;
    width: 100vw;
    letter-spacing: 0;
    line-height: 1.2;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    //overflow: scroll;
    position: static;
    padding: 0;
    cursor: crosshair;
    //padding-bottom: 0.1rem;
  }
  
  
  }
  
  .second_class_square {
    background-color: rgb(70, 70, 70) !important;
    height: 100%;
  
  .row-element-info-text {
    display: flex;
    flex-direction: column;
    font-family: Barlow;
    text-align: left;
    padding: 0 0.3rem;
    min-width: 27vh;
    line-height: 1.3;
    border-color: rgba(0, 0, 0, 0.418);
    h3 {
      font-size: 1.5vh;
      font-weight: 700;
    }
    p {
      font-size: 1.5vh;
      font-weight: 500;
    }
    color: white;
  }
  
  .big-row-container {
    padding: 0;
    position: absolute;
    background: rgb(255, 238, 0);
  }
  
  .album-title h3 {
    font-size: 1.4rem;
    font-family: Barlow;
    font-weight: 700;
    padding-left: 1.5vh;
    min-width: 33vw;
    padding-left: 3vh;
    color: rgb(255, 255, 255);
  }
  .playlist p,
  .extra-info p {
  
    font-family: Barlow;
    padding-left: 3vh;
    min-width: 18vw;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 2vw;
    color: rgb(255, 255, 255);
  }
  
  .big-row-fc-txt {
    // width: 66vw;
    h2 {
      font-size: 6rem;
      line-height: 6rem;
      
      margin-top: 3vh;
    }
    p {
      font-size: 1rem;
    }
     min-width: 33vw;
      max-width: 33vw;
    color: white;
  }
  
  .small-row-fc-txt {
    h2 {
      font-size: 2rem;
      background-color: black;
      color: white;
      line-height: 2rem;
      padding-top: 0.4rem;
      padding-right: 1vh;
    }
    p {
      //font-size: 0;
     // line-height: 0rem;
      display: none;
      
    }
    min-width: 33vw;
    max-width: 33vw;
    color: white;
    
  }
  
  p {
    font-family: "Barlow", sans-serif;
    font-size: 1.4rem;
    line-height: 1.1;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: white;
  }
  
  h2 {
    font-family: "BPdotsCondensedDiamond", monospace;
    font-size: calc(0.5rem + 5vh);
    line-height: 5.5vh;
    letter-spacing: 0em;
    padding-top: 0.2rem;
    text-align: right;
    overflow-wrap: break-word;
    color: white;
  }
  
  h3 {
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    
  }
  
  .header-anchor a {
    font-family: "BPdotsCondensedDiamond", ui-monospace, monospace;
    color: white;
    font-size: 36vh;
    height: 36vh;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
    //fix for a hidden overflow of inner anchor box shadow
    margin-bottom: 1.6rem;
    overflow: hidden;
    user-select: none;
  
  }
  
  .selected-class {
    color: black !important;
    background-color: rgb(165, 165, 165);
    padding: 0rem;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
  
  .black-square {
    
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 5.33vw;
    position: fixed;
    box-shadow: 10px 10px 20px 0px rgba(228, 228, 228, 0.25);
  }
  
  
  .small-row-text {
    p {
      font-size: 0.3rem;
      width: 11vh;
      line-height: 1.1;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
  }
  
  .black-square :active{
    cursor: pointer;
    background-color: black;
    height: 11vh;
    width: 11vh;
    right: 5.33vw;
    bottom: 5.33vh;
    position: fixed;
    box-shadow: 10px 10px 20px 0px rgba(228, 228, 228, 0.25);
  }
  .row-txt {
    h3 {
      font-size: 3vh;
    }
    p {
      font-size: 2vh;
      white-space: break-spaces;
      min-width: 10rem;
    }
  }
  .row-pics-container.row-txt.big-row p {
    min-width: 20rem;
  }
  
  .big-row-text {
    p {
      font-size: 4rem;
      width: 66vw;
      line-height: 1.1;
      padding-left: 2rem;
      padding-right: 2rem;
      
    }
  }
  
  
  
  
    body {
    background-color: black !important;
    width: 100vw;
    letter-spacing: 0;
    line-height: 1.2;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    //overflow: scroll;
    position: static;
    padding: 0;
    cursor: crosshair;
    //padding-bottom: 0.1rem;
  }
  
  
  }
  
}
}